server_host="0.0.0.0:9191"
env = "dev"
alarm_url = ""
alarm_secret = ""

[Log]
debug=true
filenum=10
filesize=256
filename="run"
level="DEBUG"
dir="./log"

[V8vm]
use_strict = true
delete_delay_time = 10
heap_size_limit = 1408
max_instances = 5
instance_lifetime = 0
xmlhttprequest_threads = 10

[SSR]
dist_dir = "dist"
timeout = 15
response_headers = ["Server: vue-ssr-v8go"]
allow_iframe_paths = ["/embed/"]
allow_sharedarraybuffer_paths = ["/isolated/"]
origin = "https://ifconfig.me"

[Proxy]
[[Proxy.location]]
path = "/all.json"
target = "https://ifconfig.me"
