server_host="0.0.0.0:9191"
env = "dev"
dist_dir = "dist"
ssr_timeout = 15
content_security_policy = "form-action 'self'; frame-ancestors 'self';"
alarm_url = ""
alarm_secret = ""

[Log]
debug=true
filenum=10
filesize=256
filename="run"
level="DEBUG"
dir="./log"

[V8vm]
use_strict = true
delete_delay_time = 10
heap_size_limit = 1408
max_instances = 5
instance_lifetime = 0
xmlhttprequest_threads = 10

[Api]
location_origin = "https://ifconfig.me"
hosts = ["ifconfig.me"]
targets = ["https://ifconfig.me"]

[Proxy]
[[Proxy.location]]
path = "/all.json"
target = "https://ifconfig.me"
